

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Righteous&family=Yellowtail&display=swap');


* {
    box-sizing:border-box;
    background-color: black;
}

.font1{
    font-family: 'Orbitron', sans-serif;
    color: gold;
}

.font2{
    font-family: 'Righteous', cursive;
    color: gold;
}

.font3{
    font-family: 'Yellowtail', cursive;
    color: gold;
}


.text-center {
    font-size: 3em;
}
.square {
    
    height: 200px;
    border: 2px solid black;
}

.imgSquare{
    height: 150px;
    width: 150px;
}

.x, .o{
    height: 190px;
    width: 190px;
}

.OkeepingCount, .XkeepingCount {
    color: gold;
    overflow-wrap: break-word;
}

.btn:disabled{
    opacity: 1 !important;
    cursor: not-allowed;
}

.gameOver {
    display: none;
    position: fixed;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    
}

.gameOverText {
    position: fixed;
    top: -200px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translateX(150%);

}

.visible {
    display: block;
}

.invisible {
    /*transition: 0.1s ease-out;*/
    display: hidden;
}

.reset {
    transform: translateX(600%);
    border-radius: 50px;
    border: 3px groove gold;
    font-size:  .5em;
    color: grey;
    height: 100px;
    width: 100px;
}

.gameOver {
    color: grey;
}

.winner {
    background-clip: text;
}