

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Righteous&family=Yellowtail&display=swap');

.full-restart {
    background: grey;
    margin-top: 30px;
    padding-top: -10px;
    width: 100%;
    outline: none;
    color: gold
}

    * {
        box-sizing:border-box;
        margin: 0;
        padding: 0;
    }
    
    .inner-scoreboard-div {
        height: 50%;
        display: inline-flex;
        margin: 0 auto;
    }

    .buttons-container {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto;

    }

    .buttons-container button {
        margin: 0 auto;
        width: 30%;
        height: 30%;
    }

    .scoreboard {
        display: inline-flex;
        width: 100%;
        height: 200px
    }
   
    #heading-text {
        font-size: 2em;
    }
    #img-square {
        height: 80px;
        width: 80px;
    } 
    #buttons-container {
        width: 100%;
        height: 50vh;
    }
    .outer-most-container {
        width: 100%;
        background-color: black;
        height: 100vh;
        padding-top: 10px;
        display: block;
        max-width: 100vw;
    }
    
    .middle-container {
        justify-content: space-between;
        display: flex;
    }
    
    .pepe-score-div, .sassy-score-div {
        display: inline-flex;
        text-align: center;
        margin-left: 30px;
        height: 200px;
        width: 150px;
    }

    .score-count {
        display: block;
        font-size: 3em;
    }
        

    .font1, .font2, .font3 {
        color: gold;
    }

    .font1{
        font-family: 'Orbitron', sans-serif;
    }

    .font2{
        font-family: 'Righteous', cursive;
        
    }

    .font3{
        font-family: 'Yellowtail', cursive;
    }

    .text-center {
        font-size: 3em;
    }
      
    .square {
        height: 200px;
        border: 2px solid black;
    }

    .imgSquare{
        height: 150px;
        width: 150px;
    }

    .OkeepingCount, .XkeepingCount {
        color: gold;
        overflow-wrap: break-word;
    }
    
    .btn:disabled{
        opacity: 1 !important;
        cursor: not-allowed;
    }

    .character-select-div {
        max-width: 100%;
        height: 200px;
        font-weight: 500;
        letter-spacing: 3px;
        color: white;
        background-color: black;
        margin: 0 auto;
        font-family: 'Obitron ';
    }

    .character-select-div button {

        padding: 25px;
        display: inline-flex;
        justify-content: space-around;
    }

    .gameOver {
        display: none;
        max-width: 100%;
        color: grey;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .gameOverText {
        display: inline-block;
        font-size: 60px;
        font-family: sans-serif;
        font-weight: bold;
        text-align: center; 
    }

    .visible {
        display: inline-block;
    }

    .invisible {
        transition: 0.1s ease-out;
        display: hidden;
    }
    
    #game-over-div {
        width: 100%;
        margin: 0 auto;
        margin-right:  110px;
    }

    .reset {
        border-radius: 50px;
        display: inline;
        margin: auto;
        border: 3px solid gold;
        font-size:  .5em;
        color: grey;
        height: 100px;
        width: 100px;
    }

    .winner {
        background-clip: text;
    }

    .character-select-div div {
        width: 100%;
        padding-left: 12px;
        
        margin: 0 auto;
    }

    .char-button {
        margin: 0 10px;
        border-radius: 100%;
        border: 1px solid gold;
        color: black;
        font-weight: 500;
        font-family: 'Orbitron', sans-serif;
    }

    .game-button {
        background-color: black;
    }

